/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'PT Sans', sans-serif;
}

/*header start*/
header{
    background-color: #fcdb00;
}
.custom-nav{

}
.custom-nav a{
    padding: 30px 0;
}
.custom-nav li a{
   font-weight: bold;
    font-size: 21px;
    padding-right: 50px !important;
    color: #010101 !important;
}

.custom-nav li:last-child a{
    padding-right: 0px !important;
}
/*header end*/

/*banner start*/
#banner{
  background-color: #fcdb00;
  padding-bottom: 70px;  
}
.banner_content{
margin-top: 50px;
padding: 0 16px;
}
.banner_content h1{
    font-size: 32px;
    color: #010101;
}
.b_text1{
    font-size: 17px;
    color: #313841;
}
.b_text2{
    font-size: 16px;
    font-weight: 300;
    color: #555555; 
}
.banner_icon{

}
.banner_icon ul li i{
    font-size: 30px;
    padding-right: 20px;
    color: #010101;
    padding: 0 16px;
}
.banner_image img{

}
/*banner end*/

/*service section start*/
#service{
    background-color: #FFFFFF;
}
.service_header_content{
padding-top: 120px;
padding-bottom: 90px;
}
.service_header_content h1{
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 32px;
}
.service_header_text{
    text-align: center;
    color: #94979B;
    font-size: 20px;
}
.single_feature{
    padding-bottom: 80px;
}
.feature_icon i{
    font-size: 30px;
}
.feature_icon img{
        width: 30px;
}
.feature_content{
   padding-left: 50px;
}
.feature_content h4{
    color: #030303;
    font-size: 22px;
}
.feature_content p{
    color: #8A8A8A;
    font-size: 16px;
}
/*service section end*/
/*support section start*/
#support{
    background-color: #000000;
}
.support_content{
    padding-top: 95px;
    padding-bottom: 65px;
}
.support_content h1{
    text-align: center;
    color: #FCDB00;
    font-weight: bold;
    font-size: 32px;
}
.support_content p{
    text-align: center;
    color: #94979B;
    font-size: 20px;
}
.support_email{
    padding-left: 22px;
}
form input{
    width:79% !important;
}
.btn_custom{
    background-color: #FCDB00;
    margin-left: 1px;
    margin-top: -5px;
}
.social_icon{
    text-align: center;
}
.social_icon ul li i{
    font-size: 30px;
    background-color: #FCDB00;
    border-radius: 5px;
    width: 41px;
    height: 33px;
}
/*support section end*/
/*footer section start*/
footer{
    background-color: #000000;
    padding: 90px 0;
}
.footer_content{
    text-align: center;
}
.footer_content p{
    color: #A4A4A4;
    font-size: 16px;
}
.footer_link{
    color: #A4A4A4;
}
/*footer section end*/







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
